
.icoColors{
   background-color: #31373d;
}

.bgColor{
    background-color: #212529;
}
.txtColor{
    color: rgb(179, 179, 179);
}

.crsImg{
    object-fit: cover;
    object-position: auto 45%;
    height: 500px;
}

.fonteNova{
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
}

.titleColor{
    color: rgb(255, 255, 255);
}

.icoSize{
    width: 55px;
    height: 55px;
}

.boxColor{
    background-color: #15171a;
}

.boxShadow{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cardSize{
    width: 18vw;
}

.bodyColor{
    background-color: #363a3f;
}