
.icoColors{
   background-color: #31373d;
}

.bgColor{
    background-color: #212529;
}
.txtColor{
    color: rgb(179, 179, 179);
}

.crsImg{
    object-fit: cover;
    object-position: auto 45%;
    height: 500px;
}

.fonteNova{
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
}

.titleColor{
    color: rgb(255, 255, 255);
}

.icoSize{
    width: 55px;
    height: 55px;
}

.boxColor{
    background-color: #15171a;
}

.boxShadow{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cardSize{
    width: 18rem;
    
}

.bodyColor{
    background-color: #363a3f;
}

.cardBcolor{
    background-color: #20252b;
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
    transform: translate3d(-30%, 0, 0);
}
[data-anime="right"]{
    transform: translate3d(-30%, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.cardanime:hover {
    transform: scale(1.04);
    transition: .3s;
}

.borderColor{
    background-color: #262e38;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}