
.icoColors{
   background-color: #31373d;
}

.bgColor{
    background-color: #212529;
}
.txtColor{
    color: rgb(179, 179, 179);
}

.crsImg{
    object-fit: cover;
    object-position: auto 45%;
    height: 500px;
}

.fonteNova{
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
}

.titleColor{
    color: rgb(255, 255, 255);
}

.icoSize{
    width: 60px;
    height: 60px;
}